.title {
    color: #02ccba;
  }
 header{
  background-color: white;
  border : 5px solid black;
  padding : 2px;
  padding-bottom :5px;
  margin-top:19px;
  height: 50px;
 }
.Logo-Header{
  font-family : "calibri";
  font-size : 20px;
  
}
.btn{ 
  display: inline-block;
  text-decoration: none; 
}
.Keranjang {
  float : right;
  padding-top:10px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 30px;
  background-color: white;
 }
.Account{
  float : right;
  padding-top:10px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 30px;
  background-color: white;
  border-left : 5px solid black;

}
.Home {
  padding-top:10px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 30px;
  background-color: white;
  border-right : 5px solid black;
  }
  .btn:hover{
    background-color: #aaff9c;
  }
 .fa{
   color : black;
 }
